@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.bg');
  font-family: Inter, sans-serif;
  font-weight: theme('fontWeight.medium');
}

.input-tx {
  background-color: theme('colors.bg-light');
  width: 100%;
  color: white;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: theme('fontWeight.medium');
  font-size: theme('fontSize.lg');
}

.input-tx:focus {
  outline: none;
}

.confirm-btn {
  background-color: theme('colors.cf-green');
  width: 100%;
  border-radius: 0.5rem;
  height: 2rem;
  color: black;
  fill: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-icon {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
}

.btn-label {
  font-weight: bold;
  margin-left: auto;
  position: absolute;
}
